node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

.vercel
api/dist/

# Prisma
prisma/migrations/
node_modules/.prisma/
!.env.example
prisma/migrations/
prisma/*.db

.vercel
api/dist/
.env*
